body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

div:first-letter {
  text-transform: capitalize;
}

.nameCity {
  font-weight: bolder;
  font-size: larger;
}

.temperature {
  font-size: large;
}

.icon {
  width: 135px;
}

.activeLink {
  cursor: default;
  color: black;
}

.card-item {
  text-align: center;
}

.card-item-date {
  font-size: 16px;
}

.card-item-img {
  width: 42px;
}

.card-item-temperature {
  font-size: 13px;
}
